.character-counter-container {
    padding: 24px;
    background-color: beige;
}
.character-counter-container p {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}
.character-counter-form label {
    line-height: 32px;
}
.character-counter-form textarea {
    width: 100vw;
    min-height: 180px;
    margin-top: 18px;
    border-radius: 8px;
    border: none;
    padding: 18px 16px;
}
.character-counter-form button {
    padding: 18px 12px;
    margin-top: 12px;
    border-radius: 6px;
    background-color: #9b6666;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.character-counter-form button:hover {
    transition: ease-in-out .3s;
    background-color: rgb(88, 167, 94);
    color: #fff;

}